NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDwIAoOtWZAd0g9mA358IbOv95ng1nMQJI
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=vortex-da44a.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=vortex-da44a
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=vortex-da44a.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=343421587738
NEXT_PUBLIC_FIREBASE_APP_ID=1:343421587738:web:0d875ff0f323c963399ca3
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://vortex-da44a-default-rtdb.firebaseio.com

# Groq Configuration
GROQ_API_KEY=

# Cloudinary Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
